In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import os

score = pd.read_csv(f'./models/maskFrance/Z64/yrs100/k.9.1fw2.1.2.lrs8skip2/score500.csv', index_col=1) 
score

,fold,C,TP,TN,FP,FN,MCC,entropy,skill,Brier,freq
0,0,1.000000e-03,0.0,735.0,0.0,35.0,0.000000,0.299829,-0.510356,0.072734,0.000000
1,0,1.000000e-02,0.0,735.0,0.0,35.0,0.000000,0.160851,0.189730,0.038056,0.000000
2,0,5.000000e-02,5.0,735.0,0.0,30.0,0.370479,0.142909,0.280112,0.034342,0.006494
3,0,1.000000e-01,6.0,733.0,2.0,29.0,0.346569,0.142746,0.280930,0.033868,0.010390
4,0,5.000000e-01,8.0,730.0,5.0,27.0,0.358557,0.145496,0.267078,0.033673,0.016883
...,...,...,...,...,...,...,...,...,...,...,...
7,9,1.000000e+02,0.0,707.0,12.0,51.0,-0.033510,0.250203,-0.260370,0.068415,0.015584
8,9,1.000000e+03,0.0,707.0,12.0,51.0,-0.033510,0.250239,-0.260555,0.068420,0.015584
9,9,1.000000e+05,0.0,707.0,12.0,51.0,-0.033510,0.250243,-0.260575,0.068421,0.015584
10,9,1.000000e+07,0.0,707.0,12.0,51.0,-0.033510,0.250243,-0.260575,0.068421,0.015584
11,9,1.000000e+09,0.0,707.0,12.0,51.0,-0.033510,0.250243,-0.260575,0.068421,0.015584

In [106]:
score.groupby('C').mean().loc[0.1,'skill'], score.groupby('C').std().loc[0.1,'skill']

(0.16103977671133315, 0.17252183638195406)

In [109]:
score=[]
checkpoints = range(1,2000,1)
existing_checkpoints = []
for i in checkpoints:
    if os.path.exists(f'./models/maskFrance/Z64/yrs100/k.9.1fw2.1.2.lrs8skip2/score{i}.csv'):
        score.append(pd.read_csv(f'./models/maskFrance/Z64/yrs100/k.9.1fw2.1.2.lrs8skip2/score{i}.csv', index_col=1) )
        existing_checkpoints.append(i)
print(f'{existing_checkpoints = }')
score = pd.concat(score, keys=existing_checkpoints,names=['checkpoint', None])
score

existing_checkpoints = [1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500]

               fold             C   TP     TN    FP    FN      MCC   entropy  \
checkpoint
1          0      0  1.000000e-03  0.0  735.0   0.0  35.0  0.00000  0.316109
           1      0  1.000000e-02  0.0  735.0   0.0  35.0  0.00000  0.201859
           2      0  5.000000e-02  0.0  735.0   0.0  35.0  0.00000  0.194607
           3      0  1.000000e-01  0.0  735.0   0.0  35.0  0.00000  0.194696
           4      0  5.000000e-01  0.0  735.0   0.0  35.0  0.00000  0.195171
...             ...           ...  ...    ...   ...   ...      ...       ...
500        7      9  1.000000e+02  0.0  707.0  12.0  51.0 -0.03351  0.250203
           8      9  1.000000e+03  0.0  707.0  12.0  51.0 -0.03351  0.250239
           9      9  1.000000e+05  0.0  707.0  12.0  51.0 -0.03351  0.250243
           10     9  1.000000e+07  0.0  707.0  12.0  51.0 -0.03351  0.250243
           11     9  1.000000e+09  0.0  707.0  12.0  51.0 -0.03351  0.250243

                  skill     Brier      freq
checkpoint
1          0  -0.592364  0.077469  0.000000
           1  -0.016842  0.045841  0.000000
           2   0.019688  0.044523  0.000000
           3   0.019238  0.044462  0.000000
           4   0.016849  0.044440  0.000000
...                 ...       ...       ...
500        7  -0.260370  0.068415  0.015584
           8  -0.260555  0.068420  0.015584
           9  -0.260575  0.068421  0.015584
           10 -0.260575  0.068421  0.015584
           11 -0.260575  0.068421  0.015584

[1800 rows x 11 columns]

In [195]:
score.groupby(['checkpoint', 'C']).mean().loc[(slice(None), 0.1), 'skill']  # score.groupby(['checkpoint', 'C']).mean().loc[(10, 0.01), 'skill']  # to select specific

checkpoint  C
1           0.1   -0.019783
10          0.1    0.151009
20          0.1    0.171461
30          0.1    0.176846
40          0.1    0.184942
50          0.1    0.184187
60          0.1    0.185686
70          0.1    0.185297
80          0.1    0.182477
90          0.1    0.183403
100         0.1    0.179589
200         0.1    0.171984
300         0.1    0.164017
400         0.1    0.158998
500         0.1    0.161040
Name: skill, dtype: float64

In [200]:
score.groupby(['checkpoint', 'C']).mean().loc[(slice(None), 0.1), 'skill'].droplevel(level=1)

checkpoint
1     -0.019783
10     0.151009
20     0.171461
30     0.176846
40     0.184942
50     0.184187
60     0.185686
70     0.185297
80     0.182477
90     0.183403
100    0.179589
200    0.171984
300    0.164017
400    0.158998
500    0.161040
Name: skill, dtype: float64